<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/myBlogs">My Blogs</a>
                  </li>

                </ul>



                <a href="/signUp"><button class="btn btn-outline-success me-2" >Sign Up</button></a>
                <a href="/login"><button class="btn btn-outline-success me-2" >Login</button></a>


              </div>
            </div>
          </nav>
    

<% if(ALERT){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= message %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

    <form action="/login" method="post" class="container  d-flex flex-column mb-3 myform justify-content-center align-items-center gap-4 mt-5 shadow p-1 bg-body rounded" >
        <input type="text" placeholder="User Name" class="shadow-sm p-1 bg-body rounded" name="username">
        <input type="password" placeholder="Password" class="shadow-sm p-1 bg-body rounded" name="password">
        <button class="btn btn-outline-success" type="submit">Login</button>

    </form>


    <div class="container-fluid bg-info text-white">
      <footer class="py-3" style="margin-top: 64vh;">
        <div class="row">
          <div class="col-2">
            <h5>Created by Tushar Sahu</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/tushar-sahu-6b15b4231" target="_blank" rel="noreferrer" class="nav-link p-0 text-white">Linkedin</a></li>
              <li class="nav-item mb-2"><a href="https://github.com/tusharsahu0212" target="_blank" rel="noreferrer" class="nav-link p-0 text-white">GitHub</a></li>
              <li class="nav-item mb-2"><a href="mailto:tusharsahu0212@gmail.com" target="_blank" rel="noreferrer" class="nav-link p-0 text-white">Email: tusharsahu0212@gmail.com</a></li>
            </ul>
          </div>
      </footer>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>